[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "causal.decomp"]
	path = causal.decomp
	url = https://github.com/cran/causal.decomp
[submodule "rrMixture"]
	path = rrMixture
	url = https://github.com/cran/rrMixture
